<mat-card>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <form action="" (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
                        <mat-form-field>
                                        <input 
                                        matInput 
                                        type="text" 
                                        name="title"
                                        [ngModel]="post?.title"
                                        required
                                        placeholder="Post Title"
                                        #title = "ngModel"
                                        >

                                        <mat-error *ngIf="title.invalid">
                                                Please enter a Title.
                                        </mat-error>   

                        
                                </mat-form-field>
                         
                                 <mat-form-field>
                                         <textarea 
                                         matInput 
                                         rows="4"
                                         name="content"
                                         placeholder="Post Content"
                                         [ngModel]="post?.content"
                                          required
                                          #content = "ngModel"
                                         >
                                        </textarea>
                                        <mat-error *ngIf="content.invalid">
                                                        Content can not be empty
                                                </mat-error>
                                     </mat-form-field>
                         
                                     <button 
                                     mat-raised-button 
                                     color="primary" 

                                     type="submit"
                                     >Save Post
                                </button>
        </form>
       
</mat-card>


